h1
{
    color: 25,111,121;
font-family: sillyfont;
}
@font-face {
    font-family: sillyfont;
    src: url("fonts/sillyfont.ttf");
}
h2
{
    color: navy;
   font-family: wah;
}
 @font-face {
        font-family: wah;
        src: url("fonts/wah.ttf");
    }
p
{
    background-color: 254,189,243;
}
img {
    border-radius: 8px;
}